<div class="popout-container" id="cancel">
    <div class="popout" id="poput">
        <div class="popout-content">
            <h1>Você confirma o seu voto?</h1>
            <span
                class="material-icons"
                style="
                    display: flex;
                    position: relative;
                    color: #f8f8f2;
                    top: 41px;
                    font-size: 70px;
                    justify-content: center;
                "
            >
                error_outline
            </span>
            <button type="submit" id="confirm">Confirmar</button>
            <input type="button" value="Voltar" id="cancel" />
        </div>
        <span class="overlay"></span>
    </div>
</div>
