<div class="votedPopout">
    <% if(!userid) { %> 
        nao tem
        <% } else if(userid === voted.userdid) { %>
    <h1>Voto registrado!</h1>
    <% } else {%>
        kok
    <% }%>
<script>
    console.log(userid, voteduserid)
</script>
</div>
