<div class="sideBar">
    <div class="links">
        <a href="https://tomfoolery.herokuapp.com/admin/dashboard/upload" class="material-icons" id="add">add</a>
        <a href="https://tomfoolery.herokuapp.com/admin/dashboard/resultados" class="material-icons" id="winner">insights</a>
    </div>
</div>
