<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/header.css" />
        <link rel="stylesheet" href="css/emotes.css" />
        <link rel="stylesheet" href="/css/popouts/usercard.css" />
        <script src="/scripts/user.js" defer></script>

        <link rel="icon" href="/assets/TF_logo.png" />
        <script src="/scripts/popout.js" defer></script>
        <script src="/scripts/login.js" defer></script>
        <title>Closed - Tomfoolery</title>
    </head>
    <body>
        <header><%- include('partials/header.ejs'); %></header>
        <div class="closedContainer">
            <h1 id="closedH1">Votação encerrada</h1>
            <img
                src="https://cdn.7tv.app/emote/630660200e929d2fde44db5b/3x"
                alt=""
                id="closed_okay"
            />
        </div>
    </body>
</html>
